<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Food Write</title>
    <link rel="stylesheet" href="/css/admin/foodWrite.css">
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header>
    <section class="left_sec">
        <a href="#" class="go_main">Admin</a>
    </section>
    <section class="right_sec">
        <span>
            로그인 유지 시간 : <span class="limit_time">29:59</span>
            <a class="time_extension" href="#">연장</a>
        </span>
        <a href="#" class="logout">로그아웃</a>
    </section>
</header>
<main>
    <aside class="aside">
        <section>
            <article>
                <h3>음식</h3>
                <a href="#">음식 리스트</a>
            </article>
            <article>
                <h3>평가</h3>
                <a href="#">평가 관라</a>
            </article>
            <article>
                <h3>회원</h3>
                <a href="#">회원관리</a>
            </article>
        </section>
    </aside>
    <article class="content">
        <form class="food_form" method="post" enctype="multipart/form-data">
            <label for="foodName">음식이름</label>
            <input type="text" id="foodName" name="name" th:value="${foodData?.name}">

            <label for="country">나라</label>
            <input type="text" id="country" name="country" th:value="${foodData?.country}">
            <label for="countryCode">나라 코드</label>
            <input type="text" id="countryCode" name="countryCode" th:value="${foodData?.countryCode}">

            <label for="state">상태</label>
            <select id="state" name="state">
                <option th:selected="${foodData?.state==0}" value="0">None</option>
                <option th:selected="${foodData?.state==10}" value="10">New</option>
                <option th:selected="${foodData?.state==20}" value="20">Best</option>
                <option th:selected="${foodData?.state==30}" value="30">Hot</option>
            </select>

            <label for="display">노출여부</label>
            <select id="display" name="display">
                <option th:selected="${foodData?.display==10}" value="10">노출</option>
                <option th:selected="${foodData?.display==90}" value="90">비노출</option>
            </select>

            <label for="foodImg">이미지</label>
            <input type="file" id="foodImg" name="foodImgFile" value="">
            <input type="hidden" id="foodImgUrl" name="imgUrl" value="">
            <div class="img-box">
                <img id="img-preview"
                     th:src="${foodData?.foodImg?.imgUrl ?:'https://via.placeholder.com/300/09f/fff'}"
                     alt="음식 이미지">
            </div>

            <div class="buttons">
                <input type="submit" value="저장">
                <input type="button" value="취소">
            </div>
        </form>
    </article>
</main>
<script>
    const getImg = async ()=> {
        try {
            const formData = new FormData();
            formData.append("file",document.querySelector("#foodImg").files[0]);

            let url = "/rest/foodImgUpload";
            let response = await axios.post(url,formData).then((Response)=>{
                console.log(Response.data);
                let imgUrl = Response.data.file_path+Response.data.file;

                document.querySelector("#img-preview").src = imgUrl;
                document.querySelector("#foodImgUrl").value = imgUrl;
            });
        } catch (error) {
            console.error(error);
        }
    }
    document.querySelector("#foodImg").addEventListener("change", getImg);
</script>
</body>
</html>