<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Hi ${model}<br>
Hi #{model}<br>
Hi th:text="#{model}"<br>
Hi th:text="${model}"<br>
<span th:text="${model}"></span>
<span th:text="#{model}"></span>
</body>
</html>