<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Food List</title>
</head>
<body>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/food-list.css}">
    <link rel="stylesheet" th:href="@{/css/food-rating.css}">
</th:block>
<th:block layout:fragment="content">
    <div class="form-div">
        <h3>Find Menu<br><span class="border-bottom">Choose Menu</span></h3>
        <form class="search-form">
            <div class="category">
                <label>
                    <input type="button" value="0">전체
                </label>
                <label>
                    <input type="button" value="1">한식
                </label>
                <label>
                    <input type="button" value="2">양식
                </label>
                <label>
                    <input type="button" value="3">중식
                </label>
                <label>
                    <input type="button" value="4">일식
                </label>
            </div>
            <div class="search">
                <label for="food" class="food_placeholder">Food name</label>
                <input name="food" id="food" class="food-search">
                <input type="submit" class="food-search-bt" value="Find">
            </div>
        </form>
    </div>
    <div class="food-list">
        <div class="food" th:if="${foodList != null}" th:each="food : ${foodList}">
            <div th:class="food-img">
                <img th:src="${food?.foodImg?.imgUrl}" th:alt="${food?.name}">
            </div>
            <div class="food-name" th:text="${food?.name}"
                 th:data-info-id="${food?.idx}" th:data-info-avr="${food?.idx}"></div>
        </div>
        <div class="food">
            <div class="food-img">
                <img src="/images/food/20220831153854.jpg" alt="pizza">
            </div>
            <div class="food-name" data-info-id="1"
                 data-info-avr="4.4" data-my-score="4"
                 data-info-img="/images/food/20220831153854.jpg"
                 data-info-cate="양식">pizza</div>
        </div>
    </div>
    <div class="food-info none">
        <div class="food-info-box"></div>
        <div class="food-review-box"></div>
        <div class="food-review-paging-box"></div>
    </div>
</th:block>
<th:block layout:fragment="javascript">
    <script th:src="@{/js/foodList.js}" type="module"></script>
    <script th:inline="javascript" type="module">
        import * as foodList from "/js/foodList.js";

        document.querySelector(".food-review-paging-box").addEventListener("click",function (e) {
            let targetClass = e.target.classList;
            if (targetClass.contains("paging")) {
                foodList.foodReviewTemplate(1,e.target.dataset.page);
            }
        })
    </script>
    <script th:if="${foodId != null}" th:inline="javascript" type="module">
        import * as foodList from "/js/foodList.js";
        import {scrollClass} from "/js/common.js";

        foodList.foodTemplate([[${foodId}]]).then(result => {
            console.log(result);
            document.querySelector('.food-info').classList.remove("none");
            foodList.foodReviewTemplate([[${foodId}]]).then(result=>{console.log("review")});
            scrollClass("food-info");
        });
    </script>
</th:block>
</body>
</html>