<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/eatStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div class="wrap">
    <div class="background"></div>
    <main layout:fragment="main">
        <div layout:fragment="content"></div>
    </main>
    <footer>
        <div class="my-menu top">
            <p>Top</p>
        </div>
        <div class="my-menu my-page">
            <p>My page</p>
        </div>
        <div class="my-menu logout">
            <p>logout</p>
        </div>
    </footer>
    <th:block layout:fragment="javascript"></th:block>
</div>
</body>
</html>